@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container p-5">
        <div class="alert alert-success" role="alert">
            <h2>Your request for change of data is received.</h2>
        </div>

    </div>
